* text=auto

*.c text eol=crlf
*.cpp text eol=crlf
*.h text eol=crlf
*.cs text eol=crlf
*.def text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.cmd text eol=crlf
*.ini text eol=crlf
*.txt text eol=crlf
*.csv text eol=crlf
*.md text eol=lf

*.ttf binary
